.container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(256, 256, 256, 0.8);
  height: 80px;
}

.trackAction {
  color: white;
  cursor: pointer;
  user-select: none;
  padding: 0.5rem;
  font-size: 1.05rem;
  transition: color 0.25s;

  &:hover {
    color: hsl(141, 73%, 45%);
    filter: saturate(2.22) brightness(0.64);
  }
}

.trackInfo {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .title {
    margin-top: 0.33rem;
  }

  .info {
    font-size: 0.83rem;
    font-weight: 300;
    color: rgba(256, 256, 256, 0.8);
    margin: 0.33rem 0;
  }
}
