.container {
  height: 100%;
  padding: 0 10% 10% 10%;
  background-image: url('../../images/background_photo_desktop.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: saturate(0.45) brightness(1.8);
}

.trackLists {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @media (max-width: 1020px) {
    align-items: center;
    flex-direction: column;
  }
}
