.UserPlaylistPanel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  height: 120px;
  padding: 0;
  margin: 1.5rem auto 3.33rem auto;
  background-color: hsla(229, 97%, 13%, 0.7);
  box-shadow: 0 4px 2px 2px #000000;

  h2 {
    margin-top: 0.88rem;
    margin-left: 0.88rem;
  }

  .playlists {
    width: 95%;
    height: 100px;
    padding-top: 1rem;
    align-self: center;
    display: flex;
    justify-content: flex-start;
    overflow-y: scroll;

    .add {
      background-color: hsl(141, 73%, 42%);
      filter: saturate(2.22) brightness(0.64);

      &:hover {
        background-color: hsl(141, 73%, 45%);
        color: hsl(141, 73%, 90%);
      }
    }
  }

  @media (max-width: 1020px) {
    width: 95%;
  }
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
