.SearchBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6.94rem;
  margin-bottom: 6.33rem;
  height: 200px;
}

.SearchBar input {
  width: 287px;
  padding: .88rem 0;
  border: 1px solid #fff;
  border-radius: 15px;
  margin-bottom: 2.22rem;
  color: hsl(229, 97%, 13%);
  text-align: center;
  font-size: 1rem;
  filter: saturate(2.22) brightness(0.56);
}

.SearchBar input:focus {
  outline: none;
}

.SearchBar .Buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SearchBar .Buttons a {
  cursor: pointer;
  width: 8.11rem;
  padding: .77rem 0;
  border-radius: 54px;
  background-color: hsl(141, 73%, 42%);
  filter: saturate(2.22) brightness(0.64);
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  font-size: .833rem;
  transition: all .4s;
}

.SearchBar .Buttons a:hover {
  background-color: hsl(141, 73%, 45%);
  color: hsl(141, 73%, 90%);
  filter: saturate(2.22) brightness(0.64);
}
