@import '../../../scss/components/button';

.playlistButton {
  @extend %button;
  margin-right: 1.54rem;
  background-color: hsl(195, 73%, 42%);
  filter: saturate(2.22) brightness(0.7);

  &:hover {
    background-color: hsl(195, 73%, 46%);
    color: hsl(141, 73%, 90%);
  }
}

.active {
  background-color: hsl(195, 73%, 46%);
  color: hsl(141, 73%, 90%);
}
