.Playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  width: 40%;
  max-height: 525px;
  padding: 1.27rem 1.16rem;
  background-color: hsla(229, 97%, 13%, 0.7);
  box-shadow: 0 4px 2px 2px #000000;
}

.Playlist input {
  width: 100%;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #6f6f6f;
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
  color: #fff;
}

.Playlist-save {
  cursor: pointer;
  width: 10rem;
  padding: 0.77rem 0;
  border-radius: 54px;
  margin-top: 1.27rem;
  background-color: hsl(141, 73%, 42%);
  filter: saturate(2.22) brightness(0.56);
  color: #333333;
  text-align: center;
  font-size: 0.83rem;
  transition: all 0.25s;
}

.Playlist-save:hover {
  background-color: hsl(141, 73%, 50%);
  color: hsl(141, 73%, 90%);
}

.Playlist-delete {
  cursor: pointer;
  width: 10rem;
  padding: 0.77rem 0;
  border-radius: 54px;
  margin: 1.27rem auto;
  background-color: hsl(0, 90%, 50%);
  filter: saturate(2.22) brightness(0.53);
  color: #dddddd;
  text-align: center;
  font-size: 0.83rem;
  transition: all 0.25s;
}

.Playlist-delete:hover {
  background-color: hsl(0, 90%, 50%);
  color: hsl(141, 73%, 90%);
  filter: saturate(2.22) brightness(0.67);
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@media only screen and (max-width: 1020px) {
  .Playlist {
    width: 90%;
    max-height: none;
  }
}
